[submodule "vendor/huxtable/core"]
	path = vendor/huxtable/core
	url = https://github.com/huxtable/core.git
[submodule "vendor/huxtable/cli"]
	path = vendor/huxtable/cli
	url = https://github.com/huxtable/cli.git
[submodule "vendor/symfony/yaml"]
	path = vendor/symfony/yaml
	url = https://github.com/ashur/yaml
